.business-signin-main h1{
    padding-top: 18vh;
    font-size: 8vw;
    line-height: 0.5; 
}

.business-signin-main h2{
    font-size: 2.2vw;
    padding-bottom: 3vw; 
}

.business-signin-main {
    height:100vh; 
    display:flex;
    flex-direction: column;
}
