<<<<<<< HEAD
.menu {
    width: 15%;
}

.grid-container {
    display:grid;
    grid-template-columns: 1 fr 5 fr;
    grid-gap: 10px;
    padding: 10px;
}

#template {
    grid-column-start: 2;
    
=======
.checkBoxForm {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.checkBoxGrid {
    text-align: center;
    color: #1D1C35;
}
.backNextButtons {
    text-align: center;
}
.elements-instruction {
    font-size: medium;
    font-weight: 600;
    text-align: center;
    color: #1D1C35;
>>>>>>> ef3eab12de2d2a232d78e6fcd39daccfcd9d42bc
}