.checkBoxForm {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.checkBoxGrid {
    text-align: center;
} */
.backNextButtons {
    text-align: center;
}
h1,h2,h3 {
    text-align: center;
}