.checkBoxForm {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.checkBoxGrid {
    text-align: center;
    color: #1D1C35;
}
.backNextButtons {
    text-align: center;
}
.description-text {
    color: #1D1C35;
    text-align: left;
    font-size: medium;
}
.elements-instruction {
    font-size: medium;
    font-weight: 600;
    text-align: center;
    color: #1D1C35;
}

.grid-container {
    margin-left: 20%;
    margin-right: auto;

}