h1 {
    font-size: 80px;
}

p {
    font-size: 25px; 
}

body{
    margin:0; 
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
    font-size:17px;  
}

.main {
    height:100vh; 
    display:flex;
    flex-direction: column;
    justify-content: center; 
    align-items:center; 
    padding: 0; 
}

.button{
    display:flex; 
    flex-direction:row; 
    justify-content:center; 
    align-items:center; 
    gap:20%
}