.welcomeText{
    font-size: x-large;
    font: bold;
    margin: 50px;
    text-align: Left;
    float:left;
}

.buttons {
    text-align: center;
    margin: 10px;
    
}

.joblist{
    align-items: center;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.profile {
    float:right;
    margin: 50px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}